<header class="header clearfix">
  <nav>
    
  </nav>
  <h3 class="text-muted" id="lyons-name">LYONS U</h3>
</header>

<main role="main">
  <div class="jumbotron">
    <h1 class="display-3">Hello, World!</h1>
    <p class="lead">This is a simple project detailing a simiple web app along with a simple web server that display some JSON data. CHEERS!</p>
    <hr class="my-4">
  </div>

  <form method="POST"> 
    <div class="form-group">
      <div class="form-group"></div>
      
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <br>
      <label for="name">Name</label>
      <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Enter name" name="name">
      <br>
      <label for="text">Text</label>
      <input type="text" class="form-control" id="inputText" aria-describedby="textHelp" placeholder="Enter text" name="text">
      <br>
      <button type="submit" class="btn btn-primary" value="Submit">Submit POST</button>
    </div>
    <br>
  </form>

  <form action="http://localhost:3001/api" method="GET"> 
    <div class="form-group">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Enter name" name="name">
          <br>
          <button type="submit" class="btn btn-primary" value="Submit">Submit GET</button>
        </div>
      </div>

      <div class="form-text form-control form-group" id="dbInformation">
        {{ userName }}
      </div>
      <br>
    </div>
  </form>
  <br>
</main>