body {
	background-image: url("/img/350829-widescreen-website-background-1920x1080-windows-xp.jpg")
}

#LCGlogo {
	padding: 5px 15px;
}

#lyons-name {
	color: #FD8F2C;
}

#dbInformation {
	display: block;
	padding: 6px 12px;
	font-size: 14px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: auto;
    max-height: 925px;
}

#headerInfo {
	display: block;
	padding: 6px 12px;
	font-size: 14px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: auto;
}

#customBtn {
    padding: 0px 7px 18px;
}